@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

body {
    font-family: 'Comfortaa',sans-serif;
    background-color: #EDE3C5;
    background-size: 3000px;
    background-repeat: repeat-y;
    padding-top: 80px;
}
h1 {
    font-size: 48px;
    color: #2E372D;
}
h3{
    font-size: 32px;
    color: #F4A623;
}
h4{
    font-size: 24px;
    color: #EDE3C5;
}

p, a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}
nav a {
    text-decoration:none;
    color: black;
    margin-right: 20px;
    font-weight: bold;

}
nav #get{
    color: #f46223;
}
nav #get:hover{
    color: #2E372D;
}
a:hover{
    color: #f46223;
}
img{
    width: 40px;
    height: 40px; 
    margin:auto; 

}
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 40px;
}
.item{
    padding: 20px;
    display: block;
    max-width: 1000px;
    width: 90%;
    margin: auto;
    margin-top: 80px;
    
}
#education, #courses, #Projects{
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    background-color: #2E372D;
}
#education p, #courses p, #Projects p{
    color: #EDE3C5;
}
#education:hover, #courses:hover, #Projects:hover, img:hover{
    transform: translateY(-5px);
}
#Projects p{
    line-height: 2;
}
.navbar{
    display: flex;
    justify-content: flex-end;
}
hr{
    border: none;
    background-color: black;
    height: 0.5px;
    margin-top: 100px;
}
.star{
    width: 30px;
    position: relative;
    top: 10px;
}
.star1 img{
    width: 400px;
    height: auto;
    position: absolute;
    top: 10px;
    z-index: -1;
}
.star2 img{
    width: 150px;
    height: auto;
    position: absolute;
    right: 10px;
    top: 230%;
    z-index: -1;
}
.star3 img{
    width: 200px;
    height: auto;
    position: absolute;
    right: 10px;
    top: 100%;
    z-index: -1;
}
.star4 img{
    width: 100px;
    height: auto;
    position: absolute;
    left: 10px;
    top: 170%;
    z-index: -1;
}
.star5 img{
    width: 180px;
    height: auto;
    position: absolute;
    left: 70px;
    top: 300%;
    z-index: -1;
}
@media screen and (max-width:576px) {
    h1 {
        font-size: 32px;
    }
    h3{
        font-size: 24px;
    }
    h4{
        font-size: 18px;
    }
    p{
        font-size: 16px;
    }

}

